body {
	padding: 0.5rem;

	color: #777777;
	font-family: sans-serif;
	line-height: 1.15;
	background-color: #000000;
}

.main-container {
	margin: 0 auto;

	background-color: #fff;
}

.content {
	padding-top: 1rem;
	padding-bottom: 1rem;
}

@media (min-width: 1024px) {
	.main-container {
		max-width: 80vw;
		padding: 1rem;
	}

}

@media (max-width: 769px) {
	.content {
		display: grid;
		grid-template-columns: 1fr;
	}
}
